<template name="contact">


<section class="mbr-section mbr-after-navbar" id="header3-6">
    <div class="mbr-section__container container mbr-section__container--isolated">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">PONDICHERRY HERITAGE MAP<br></h3>
                <p class="mbr-header__subtext">Curated by:<br>Indian National Trust for Art and Cultural Heritage (INTACH) Pondicherry<br>62, Auribindo Salai<br>Pondicherry 605001<br>Puducherry<br><br>+91 413 222 5991<br><a href="http://intachpondicherry.org">intachpondicherry.org</a><br><br><br></p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form1-8" style="background-color: rgb(204, 204, 204);">
    
    <div class="mbr-section__container mbr-section__container--std-padding container">
        
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">WE WANT YOUR FEEDBACK!<br>Let us know what you think.</h2>
                        </div>
                        {{>contactForm}}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</template>