

/* custom style sheet*/
/*bug fix for value not showing in firefox forms
 * and form showing different than in mobirise*/

.form-control {
    height: auto;
}

#__flow-root {
  margin-top:85px;
}
.margin-adjust{
  margin-top: -100px;
}
.dismiss-alert-wrap{
  position: fixed;
    top: 50%;
    display: block;
    z-index: 100;
    left: 50%;
    margin-left:-130px;
  
}

#map.mapbox {
  top:95px;
  
}

.leaflet-popup-pane{
  margin-top: 25px;
}
div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.nested.column {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.btn-default {
    background-color: #ccc;
    opacity: 0.8;
  }
.bert-alert{
  display:none;
}

.spin-wrap {
    position: absolute;
    left: 36%;
}

.leaflet-popup-content{
  width:100%;
}
.marker-alert-wrap{
  position: : absolute;
  left:10px;
}