
/* custom style sheet*/
#__flow-root {
  margin-top:85px;
}
.margin-adjust{
  margin-top: -100px;
}


#map.mapbox {
  top:95px;
  
}
.leaflet-popup-pane{
  margin-top: 25px;
}
div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.nested.column {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.btn-default {
    background-color: #ccc;
    opacity: 0.8;
  }
